{{>Common/error}}
<div class = "row wiki-content">
	{{{content}}}
</div>
<div class = "row">
	<a class = "btn btn-primary" href = "#/Wiki/edit/{{path}}">Edit</a>
	{{#files}}
		<a class = "btn btn-default" href = "#/Files/{{path}}">Files</a>
	{{/files}}
</div>
