<h1>Password Changed</h1>
<a class = "btn btn-primary" href = "#/User/login">Login</a>
<h3>Failures</h3>
{{#result}}
	<ul>
		{{#fail}}
			<li><a href = "#{{#doc}}{{_id}}{{/doc}}">{{#doc}}{{_id}}{{/doc}}</a></li>
		{{/fail}}
	</ul>
{{/result}}
