<h1>Login</h1>
{{>Common/error}}
<form method = "post" action = "#/User/login" class = "form-horizontal">
	<div class = "form-group">	
		<label class = "col-sm-2 control-label" for = "email">Email</label>
		<div class = "col-sm-10">
			<input type = "email" class = "form-control" name = "email" placeholder = "Email" {{#email}}value = "{{email}}"{{/email}} />
		</div>
	</div>
	<div class = "form-group">	
		<label class = "col-sm-2 control-label" for = "password">Password</label>
		<div class = "col-sm-10">
			<input type = "password" class = "form-control" name = "password" placeholder = "Password" />
		</div>
	</div>
	<div class = "form-group">
		<label class = "col-sm-2 control-label" for = "">Options</label>
		<div class = "col-sm-10">
			<label for = "saveSession">Save in session <input type = "checkbox" name = "saveSession" value = "1" checked = "checked"/></label>
		</div>
	</div>	
	<div class = "form-group">
		<div class = "col-sm-offset-2 col-sm-10">
			{{#redirectAfter}}<input type = "hidden" name = "redirectAfter" value = "{{redirectAfter}}" />{{/redirectAfter}}
			<button type = "submit" class = "btn btn-primary">Sign in</button> <a class = "btn btn-default" href = "#/User/new">New user</a>
		</div>
	</div>
</form>
