<h1>New Version Available</h1>
<div class = "alert alert-danger">
	<strong>Danger!</strong>
	Contact your wiki administrator to confirm this is a legitimate update before proceeding.
</div>
<form method = "post" action = "#/User/update">	
	<div class = "form-group">
		<div class = "col-sm-offset-2 col-sm-10">
			<button type = "submit" class = "btn btn-primary">Update</button>
		</div>
	</div>
</form>
