<h1>Change Group Password: {{_id}}</h1>
<h2>{{name}}</h2>
{{>Common/error}}
<form method = "post" action = "#/Group/changePassword/{{_id}}" class = "form-horizontal">
	<div class = "form-group">
		<label class = "col-sm-2 control-label">Password</label>
		<div class = "col-sm-10">
			<input type = "password" class = "form-control" name = "password" placeholder = "Password" /><br />
			Leave blank for a random password.
		</div>
	</div>
	<table class = "table">
		<thead>
			<tr>
				<th>Include</th>
				<th>User</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			{{#users}}
				<tr>
					<td><input type = "checkbox" name = "users[{{_id}}][include]" value = "1" {{#valid}}checked = "checked"{{/valid}} /></td>
					<td>{{_id}}</td>
					<td>{{name}}</td>
				</tr>
			{{/users}}
		</tbody>
	</table>
	<div class = "form-group">
		<div class = "col-sm-offset-2 col-sm-10">
			<button type = "submit" class = "btn btn-primary">Change password</button> <a class = "btn btn-default" href = "#/Group/list">Back</a>
		</div>
	</div>
</form>
