<h1>Invite to Group: {{_id}}</h1>
{{#error}}
	<div class = "alert alter-error">
		<strong>Error!</strong> {{error}}
	</div>
{{/error}}
<div class = "alert alert-info">Invite sent</div>
<p><a class = "btn" href = "#/Group/view/{{_id}}">Back</a></p>
